.DS_Store
node_modules/
.vscode/
/build
/public
/src
/theme!*
dist/
npm-debug.log
yarn-error.log
.babelrc
/package.json
/package-lock.json
/README.md
/README.zh-CN.md
.eslintrc
server.js
tsconfig.json
tslint.json
yarn.lock
.idea
*.iml
config.json
